.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.modal_opened {
  visibility: visible;
}

.modal__title {
  margin: 0 0 24px 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 28px;
  background-image: url(../../assets/Modal\ Image\ Close\ Button.png);
  border: none;
  height: 16px;
  width: 16px;
  cursor: pointer;
  background-color: pink;
}

.modal__submit-button {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  border: 1px solid white;
  border-radius: 4px;
  color: #fff;
  background: rgba(0, 0, 0, 0.3);
  padding: 8px 13px;
  align-self: flex-start;
}

.modal__content {
  background-color: white;
  position: relative;
  padding: 28px 28px 36px;
  max-width: 496px;
  box-sizing: border-box;
  width: 100%;
  border-radius: 16px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal__input {
  display: block;
  margin: 3px 0 24px;
  border: none;
  border-bottom: 1px solid #000;
  width: 100%;
  border-bottom: 1px solid #000;
}

.modal__radio-buttons {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
}
